@page "/back-link"

<PageTitle>Back Link - GDS Components Demo</PageTitle>

<GdsBackLink Href="/"></GdsBackLink>

<h1 class="govuk-heading-xl">Back Link</h1>

<p class="govuk-body">
    Use the back link component to help keyboard-only users go back to the previous page.
</p>

<h2 class="govuk-heading-l">Example</h2>

<p class="govuk-body">
    The back link is implemented at the top of this page and each page on this demo site. 
</p>

<p class="govuk-body">
    The back link component allows keyboard users to go back to the previous page. 
    Although browsers have a back button, some sites break when you use it - so many users avoid it, instead of losing their progress in a service. 
    Also, not all users are aware of the back button.
</p>

