@rendermode InteractiveServer
@page "/button"

<PageTitle>Button - GDS Components Demo</PageTitle>

<GdsBackLink Href="/"></GdsBackLink>

<h1 class="govuk-heading-xl">Button</h1>

<p class="govuk-body">
    This component allows you to add buttons to any part of your Blazor application using the various GDS styles.
</p>

<h2 class="govuk-heading-l">Examples</h2>

<p class="govuk-body">
    <GdsButton />
    <br />
    <GdsButton Text="Save and continue" />
    <br />
    <GdsButton AdditionalCssClasses="govuk-button--secondary" Text="Find address" />
    <br />
    <GdsButton AdditionalCssClasses="govuk-button--warning" Text="Delete account" />
    <br />
    <GdsButton disabled aria-disabled="true" Text="Disabled button" />
    <br />
    <div style="background-color:rgb(29, 112, 184); padding:10px;">
        <GdsButton AdditionalCssClasses="govuk-button--inverse" Text="Create an account" />
    </div>
    <br />
    <GdsButton IsSubmit="false" OnClick="@OnSearch" Text="Search" /> <span id="result-body">@Result</span>

    <br />
    The start button style is actually a styled link element so we have moved it to the start button component. Please head to <a href="./start-button">start button</a> for information on this component.
</p>


@code{
    private string Result = string.Empty;
    private void OnSearch()
    {
        // Do something when the button is clicked
        Result = "Search button clicked!";
        StateHasChanged();
    }
}

