@page "/footer"

<PageTitle>Footer - GDS Components Demo</PageTitle>

<a class="govuk-back-link" href="/">Back to home</a>

<h1 class="govuk-heading-xl">Footer</h1>

<p class="govuk-body">
    The footer component provides copyright, licensing and other information about your service.
</p>

<h2 class="govuk-heading-l">Example</h2>

<div style="padding:10px;border:1px solid black; margin-bottom: 2rem;">
    <GdsFooter>
        <Meta>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <a class="govuk-footer__link govuk-link-image" href="https://github.com/Dorset-Council-UK/" title="Go to the Dorset Council GitHub repository">
                <img src="https://gistaticprod.blob.core.windows.net/static/logos/dorset-council/dc_logo_colour_with_clearance.svg" alt="Dorset Council Logo" height="150">
            </a>
        </div>
        <div class="govuk-footer__meta-item">
            <div>Copyright &copy; @(DateTimeOffset.UtcNow.Year) Dorset Council and other contributors</div>
        </div>
        </Meta>
    </GdsFooter>
</div>

<h2 class="govuk-heading-l">Footer with links</h2>

<div style="padding:10px;border:1px solid black; margin-bottom: 2rem;">
    <GdsFooter>
        <Meta>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">Item 1</a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">Item 2</a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">Item 3</a>
                </li>
            </ul>

            <a class="govuk-footer__link govuk-link-image" href="https://github.com/Dorset-Council-UK/" title="Go to the Dorset Council GitHub repository">
                <img src="https://gistaticprod.blob.core.windows.net/static/logos/dorset-council/dc_logo_colour_with_clearance.svg" alt="Dorset Council Logo" height="150">
            </a>
        </div>
        <div class="govuk-footer__meta-item">
            <div>Copyright &copy; @(DateTimeOffset.UtcNow.Year) Dorset Council and other contributors</div>
        </div>
        </Meta>
    </GdsFooter>
</div>

<h2 class="govuk-heading-l">Footer with secondary navigation</h2>

<div style="padding:10px;border:1px solid black; margin-bottom: 2rem;">
    <GdsFooter>
        <Navigation>
            <div class="govuk-footer__section govuk-grid-column-two-thirds">
                <h2 class="govuk-footer__heading govuk-heading-m">Two column list</h2>
                <ul class="govuk-footer__list govuk-footer__list--columns-2">
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 1</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 2</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 3</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 4</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 5</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 6</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-footer__section govuk-grid-column-one-third">
                <h2 class="govuk-footer__heading govuk-heading-m">Single column list</h2>
                <ul class="govuk-footer__list">
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 1</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 2</a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">Navigation item 3</a>
                    </li>
                </ul>
            </div>
        </Navigation>
        <Meta>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <a class="govuk-footer__link govuk-link-image" href="https://github.com/Dorset-Council-UK/" title="Go to the Dorset Council GitHub repository">
                <img src="https://gistaticprod.blob.core.windows.net/static/logos/dorset-council/dc_logo_colour_with_clearance.svg" alt="Dorset Council Logo" height="150">
            </a>
        </div>
        <div class="govuk-footer__meta-item">
            <div>Copyright &copy; @(DateTimeOffset.UtcNow.Year) Dorset Council and other contributors</div>
        </div>
        </Meta>
    </GdsFooter>
</div>

<p class="govuk-body govuk-!-margin-top-6">
    <strong>Note:</strong> The footer in this demo page is shown within a bordered container for demonstration purposes. 
    The actual footer used in this application layout is at the bottom of every page.
</p>
