@page "/header"

<PageTitle>Header - GDS Components Demo</PageTitle>

<GdsBackLink Href="/"></GdsBackLink>

<h1 class="govuk-heading-xl">Header</h1>

<p class="govuk-body">
    The header component shows users that they are on a GOV.UK service.
</p>

<h2 class="govuk-heading-l">Examples</h2>

<h3 class="govuk-heading-m">Header with navigation</h3>
<div style="border: 1px solid black; padding: 10px;">
    <GdsHeader ServiceName="Service" ServiceUrl="/" LogoUrl="https://gistaticprod.blob.core.windows.net/static/logos/dorset-council/Dorset%20council%20logo_white_d.svg">
        <NavLinks>
            <GdsHeaderNavLink Href="" Match="NavLinkMatch.All">Home</GdsHeaderNavLink>
        </NavLinks>
    </GdsHeader>
</div>

<p class="govuk-body govuk-!-margin-top-6">
    <strong>Note:</strong> The header in this demo page is shown within bordered containers for demonstration purposes. 
    The actual header used in this application layout is at the top of every page.
</p>
