@page "/"

<PageTitle>GDS Blazor Components Demo</PageTitle>

<h1 class="govuk-heading-xl">GDS Blazor Components Demo</h1>

<p class="govuk-body-l">
    Welcome to the GDS Blazor Components demonstration application. This site showcases the various components available in the <a href="https://github.com/Dorset-Council-UK/GdsBlazorComponents">GDS Blazor Components library.</a>
</p>

<GdsInsetText Text="This is just a demo for the Blazor Components library, and does not suggest any best practices for creating GDS style forms" />

<h2 class="govuk-heading-l">Available Components</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Form Components</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/checkbox">Checkbox</a></li>
            <li><a class="govuk-link" href="/checkboxes">Checkboxes</a></li>
            <li><a class="govuk-link" href="/file-input">File Input</a></li>
            <li><a class="govuk-link" href="/input-text">Input Text</a></li>
            <li><a class="govuk-link" href="/input-number">Input Number</a></li>
            <li><a class="govuk-link" href="/input-date">Input Date</a></li>
            <li><a class="govuk-link" href="/input-partial-date">Input Partial Date</a></li>
            <li><a class="govuk-link" href="/radios">Radios</a></li>
        </ul>

        <h3 class="govuk-heading-m">Layout Components</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/breadcrumbs">Breadcrumbs</a></li>
            <li><a class="govuk-link" href="/header">Header</a></li>
            <li><a class="govuk-link" href="/footer">Footer</a></li>
            <li><a class="govuk-link" href="/fieldset-group">Fieldset Group</a></li>
            <li><a class="govuk-link" href="/form-group">Form Group</a></li>
        </ul>
    </div>

    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Content Components</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/error-message">Error Message</a></li>
            <li><a class="govuk-link" href="/error-summary">Error Summary</a></li>
            <li><a class="govuk-link" href="/hint">Hint</a></li>
            <li><a class="govuk-link" href="/label">Label</a></li>
            <li><a class="govuk-link" href="/inset-text">Inset Text</a></li>
            <li><a class="govuk-link" href="/notification-banner">Notification Banner</a></li>
            <li><a class="govuk-link" href="/phase-banner">Phase Banner</a></li>
            <li><a class="govuk-link" href="/warning">Warning</a></li>
            <li><a class="govuk-link" href="/spinner">Spinner</a></li>
            <li><a class="govuk-link" href="/tag">Tag</a></li>
            <li><a class="govuk-link" href="/table">Table</a></li>
            <li><a class="govuk-link" href="/panel">Panel</a></li>
        </ul>

        <h3 class="govuk-heading-m">Navigation Components</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/skip-link">Skip Link</a></li>
        </ul>
    </div>
</div>
