@page "/inset-text"

<PageTitle>Inset Text - GDS Components Demo</PageTitle>

<a class="govuk-back-link" href="/">Back to home</a>

<h1 class="govuk-heading-xl">Inset Text</h1>

<p class="govuk-body">
    Use the inset text component to differentiate a block of text from the content that surrounds it.
</p>

<h2 class="govuk-heading-l">Example</h2>

<p class="govuk-body">
    It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
</p>

<GdsInsetText Text="You'll need to include documents and may need to provide more information before the Office of the Public Guardian can register your lasting power of attorney." />

<p class="govuk-body">
    You can contact the Office of the Public Guardian if you have questions about your application.
</p>

