@page "/panel"

<PageTitle>Panel - GDS Components Demo</PageTitle>

<a class="govuk-back-link" href="/">Back to home</a>

<h1 class="govuk-heading-xl">Panel</h1>

<p class="govuk-body">
    Render a single GOV.UK Design System styled panel component.
</p>

<h2 class="govuk-heading-l">Example</h2>

<GdsPanel Title="Application complete">
    Your reference number<br><strong>HDJ2123F</strong>
</GdsPanel>
