@rendermode InteractiveServer
@page "/select"

<PageTitle>Select - GDS Components Demo</PageTitle>

<GdsBackLink Href="/"></GdsBackLink>

<h1 class="govuk-heading-xl">Select</h1>

<p class="govuk-body">
    This component allows you to add select elements to any part of your Blazor application using the GDS recommendations.
</p>

<h2 class="govuk-heading-l">Examples</h2>

<GdsSelect Options="@ContactTypes" T="int" OnChange="OnContactTypeChange" />
<span id="result-body">@Result</span>

@code {
    private string Result = string.Empty;
    private IReadOnlyCollection<GdsOptionItem<int>> ContactTypes = [
        new ("contactTypeNone", "Select an option", 0),
        new ("contactTypePhone", "Phone", 1),
        new ("contactTypeEmail", "Email", 2),
        new ("contactTypeText", "Text message", 3),
        new ("contactTypePost", "Post", 4),
    ];

    private async Task OnContactTypeChange(GdsOptionItem<int> option)
    {
        // Do something when the select value changes
        Result = $"Selected contact type: {option.Value} - {option.Label}";
    }
}