@page "/start-button"

<PageTitle>Start Button - GDS Components Demo</PageTitle>

<GdsBackLink Href="/"></GdsBackLink>

<h1 class="govuk-heading-xl">Start Button</h1>

<p class="govuk-body">
    This component allows you to add start buttons to any part of your Blazor application using the various GDS styles.
</p>

<h2 class="govuk-heading-l">Examples</h2>

<GdsStartButton />
<br />
<GdsStartButton Text="Go to buttons page" Href="./button" />

<br />
    The start button style is actually a styled link element so we have put regular button elements in the button component. Please head to <a href="./button">button</a> for information on this component.

